<main>
  <div class="main-desc">
    <div class="title lotr-font">Your feedback is appreciated</div>
    <div class="desc">Send us comments, feedbacks, suggestion, or problems you've encountered on this website so we can fix them right away.</div>
    <div class="ring-wrapper">
      <div class="ring"></div>
    </div>
  </div>
  <div class="form-section">
    <form [formGroup]='feedbackForm'>
      <mat-form-field color='accent'>
        <input color='accent' matInput placeholder="Your email" [formControl]="feedbackForm.controls['userMail']">
      </mat-form-field>
      <textarea [formControl]="feedbackForm.controls['feedback']"></textarea>
      <button [disabled]='!feedbackForm.valid' (click)='show(feedbackForm.value)' mat-button>Fire the Gondor lighthouse</button>
    </form>
  </div>
</main>
