<div class="main">
	<app-header [sideNavDis]='sideNavDis' (toggleEvent)='toggle($event)' ></app-header>
	<div class="container">
		<mat-sidenav-container>
			<mat-sidenav mode="side" [opened]='sideNavDis'>
				<mat-list>
					<mat-list-item>
						<app-search (searchEvent)='setValue($event)'></app-search>
					</mat-list-item>
					<ng-container *ngFor="let hero of list | async">
						<app-hero-item (currentHeroEvent)='setCurentHero($event)' [searchValue]='searchValue' [hero]='hero'></app-hero-item>
				  </ng-container>
				</mat-list>
			</mat-sidenav>
			<mat-sidenav-content >
				<app-hero-detail [check]='check' [currentHero]='currentHero'></app-hero-detail>
			</mat-sidenav-content>
		</mat-sidenav-container>
	</div>
	<footer>
		<app-feedback></app-feedback>
	</footer>
</div>
