$text: #a0a0a0
$header-height: 150

.main
  width: 100%
  color: $text


app-header
  height: $header-height

.container
  width: 100%
  height: 89vh
  mat-sidenav-container
    width: 100%
    height: 100%
    mat-sidenav
      width: 350px
      height: 100%
      //scroll bar manual styling
      &::-webkit-scrollbar
        width: 12px
        background-color: #000
      &::-webkit-scrollbar-thumb
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3)
        background-color: #555
      &::-webkit-scrollbar-background
        background-color: #000
      // ****

app-hero-detail
  width: 100%
  height: 100%
