	<div class="main">
	<header>
		<button (click)='sidenav.toggle()' mat-button><mat-icon class="menu-button">menu</mat-icon></button>
		<h1 class="lotr-font">The Lord Of The Ring Heroes</h1>
		<!-- переключатель звуку по кліку в інтерполяційних дужках значення яке буде тоглитись з компонента -->
		<!-- <mat-icon>{{'volume_up'}}</mat-icon> -->
		<button mat-icon-button><mat-icon>{{'volume_off'}}</mat-icon></button>
	</header>

	<div class="container">
		<mat-sidenav-container>

			<mat-sidenav #sidenav mode="side" opened='false'>
				<!-- <li *ngFor='let hero of list | async'>
					{{hero.name}} (<span class="elven-font">{{hero.name}}</span>)
				</li>
				 -->
				<mat-list>
				  <mat-list-item (click)='setCurentHero(hero)' *ngFor="let hero of list | async" >
						<img class="avatar" matListAvatar [src]="hero.photo" alt="...">
							<!-- <div (click)='setCurentHero(hero)'> -->
								<h3 matLine> {{hero.name}} </h3>
						    <p matLine>
						      <span class="elven-font"> {{hero.name}} </span>
						    </p>
							<!-- </div> -->
							<div class="img-ring"></div>
				  </mat-list-item>
				</mat-list>

			</mat-sidenav>

			<mat-sidenav-content >
				<div class="container gif" *ngIf='check'>

				</div>
				<div class="container bg" *ngIf='currentHero'>
					<!-- <div class="hero-description"> -->
						<h1 class="lotr-font">{{currentHero.name}}</h1>
						<p>Race: {{currentHero.race}}</p>
						<p><mat-icon></mat-icon> {{currentHero.weapon}} <mat-icon></mat-icon> </p>
						<img [src]="currentHero.photo" alt="hero-img">
					<!-- </div> -->
				</div>
			</mat-sidenav-content>

		</mat-sidenav-container>
	</div>
</div>

<mat-sidenav _ngcontent-c0="" class="mat-drawer mat-sidenav ng-tns-c4-0 ng-trigger ng-trigger-transform
 mat-drawer-side ng-star-inserted" mode="side" opened="true" tabindex="-1" ng-reflect-mode="side"
 ng-reflect-opened="true" style="transform: translate3d(0px, 0px, 0px); visibility: visible;">

<mat-sidenav _ngcontent-c0="" class="mat-drawer mat-sidenav ng-tns-c4-0 ng-trigger ng-trigger-transform
 mat-drawer-side ng-star-inserted" mode="side" opened="true" tabindex="-1" ng-reflect-mode="side"
 ng-reflect-opened="true" style="transform: translate3d(0px, 0px, 0px); visibility: visible;">
